@using AMS.DataTransferObjects.CookieHelpers;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AMS </title>
    <link href="~/Content/bootstrap-3.3.7.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.7.0.min.css" rel="stylesheet" />
    <link href="~/Content/sweetalert-1.0.1.min.css" rel="stylesheet" />
    <link href="~/Content/sweetalert-1.0.1-2.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/AMSStylesheet.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap-3.3.7.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>

    <script src="~/Scripts/adminlte.min.js"></script>
    <script src="~/Scripts/jquery.toaster.js"></script>
    <script src="~/Scripts/AMSScript.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
</head>
@{
    CookieVM cookieData = CookieHelper.GetAllValues();
}
<body class="hold-transition skin-blue sidebar-mini">
    @Html.Hidden("AdminCheck", cookieData.UserIsAdmin)
    @Html.Hidden("CurrentUserIdHidden", cookieData.UserId)
    @Html.Hidden("CurrentUserNameHidden", cookieData.UserName)
    @Html.Hidden("CurrentUserImageHidden", cookieData.UserImage)


    @{
        string imagePath = string.Empty;
       
        if (cookieData.UserId != 0)
        {

            imagePath = cookieData.UserImage;

            if (imagePath == "")
            {
                imagePath = "common.png";
            }
            else
            {
                imagePath = "common.png";
            }
            var CurrentUserID = cookieData.UserId;
        }

    }
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b><span>A</span>M<span>S</span></b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><span>A</span>M<span>S</span></b></span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @*<li title="Notifications">
                            <a href="#">
                                <i class="fa fa-lightbulb-o" style="font-size:17px; margin-top:2px;"></i>
                            </a>
                        </li>*@
                    
                        <li class="dropdown messages-menu" title="Messages">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                            @*<ul class="dropdown-menu">
                                    <li class="header">
                                        <input type="button" class="btn btn-success btn-sm MailButtonSpac" value="New Message" id="btnNewMessage" onclick="SketchFunnel.GetMailPopup()" />
                                    </li>
                                    <li>
                                        <ul class="menu" id="menu"></ul>
                                    </li>
                                    <li class="footer" id="menuFooter">
                                    </li>
                                </ul>*@
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img class="user-image" src="@Url.Content("~/ProfileImages/"+cookieData.UserImage)" />
                                <span class="hidden-xs">
                                    @cookieData.UserName
                                </span>

                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">


                                    <img class="img-circle" src="@Url.Content("~/ProfileImages/"+cookieData.UserImage)" />
                                    @{
                                        var admin = cookieData.UserIsAdmin;
                                        if (admin)
                                        {
                                            <p> Admin </p>
                                        }
                                        else
                                        {
                                            <p>Normal User Account </p>
                                        }
                                    }
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" data-id="@cookieData.UserId" class="ProfileClass btn btn-default btn-flat">Profile</a>

                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("Logout", "Account")" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/ProfileImages/LoginImage.jpg" class="img-circle" alt="User Image">
                        @*<img class="img-circle" src="@Url.Content("~/Content/Images/ProfileImages/"+ imagePath)" />*@
                    
                    </div>
                    <div class="pull-left info">
                        <p>Khan</p>
                        
                    </div>
                </div>


               
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="active">
                        <a onclick="AMS.handleGetPartialView(this)" data-Partial="_Home" href="#">
                            <i class="fa fa-home"></i> <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a onclick="AMS.handleGetPartialView(this)" data-Partial="_Details" href="#">
                            <i class="fa fa-users"></i> <span>Details</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Test n Tags &amp; Parts</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a onclick="AMS.handleGetPartialView(this)" data-Partial="_TestnTag"><i class="fa fa-circle-o"></i> Add Test n Tags</a></li>
                            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Add Parts</a></li>
                        </ul>
                    </li>
                 
                    <li>
                        <a onclick="AMS.handleGetPartialView(this)" data-Partial="_SiteManagement" href="#">
                            <i class="fa fa-briefcase"></i> <span>Site Management</span>
                        </a>
                    </li>
                    <li>
                        <a onclick="AMS.handleGetPartialView(this)" data-Partial="_WorkMethod" href="#">
                            <i class="fa fa-font-awesome"></i> <span>Work Method</span>
                        </a>
                    </li>
                    <li>
                        <a onclick="AMS.handleGetPartialView(this)" data-Partial="_User" href="#">
                            <i class="fa fa-users"></i> <span>User</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Forms</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                            <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
                        </ul>
                    </li>
                    <li>
                        <a onclick="AMS.Search();" href="#">
                            <i class="fa fa-th"></i> <span>Search</span>
                        </a>
                    </li>
                    <li>
                        <a onclick="SketchFunnel.Contact();" href="#">
                            <i class="fa fa-briefcase"></i> <span>Contact</span>
                        </a>
                    </li>
                    <li>
                        <a onclick="SketchFunnel.Document();" href="#">
                            <i class="fa fa-font-awesome"></i> <span>Document</span>
                        </a>
                    </li>

                </ul>
            </section>
        </aside>

        @RenderBody()
     
    </div>
    @Html.Partial("AMSModals")
    <div id="LoaderDiv"></div>
</body>
</html>

